.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	color: black;
	padding-top: 10px;
	max-width: 1200px;
	top: 0;
	position: fixed;
	z-index: 1000;
}

.logo {
	display: flex;
	align-items: left;
}

.nav-menu {
	display: flex;
	gap: 8px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav-menu li a {
	color: black;
	padding: 10px 15px;
	transition: color 0.3s;
	text-decoration: none;
}

.nav-menu li a:hover {
	color: gray;
	text-decoration: underline;
}
