/* Ensure the navbar is positioned correctly within the header */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	position: relative;
	background-color: #fff;
}

.hamburger img {
	max-width: 30px;
	cursor: pointer;
}

.dropdown-menu {
	position: fixed;
	right: 1rem;
	top: 3rem;
	background-color: #fff;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	z-index: 1000;
	display: flex;
	flex-direction: column;
	border-radius: 4px;
	padding: 1rem;
}

.dropdown-menu li a {
	padding: 0.5rem 1rem;
	text-decoration: none;
	color: #333;
	display: inline-flex;
}

.dropdown-menu a:hover {
	color: gray;
	text-decoration: underline;
}

.no-bullets {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}
